<div class="uk-container">
  <div class="user-show-item">
    <div class="container">
      <div class="user">
        <%= image_tag "#{@user.image_name}", width: "120" %>
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <%= link_to("編集","/users/#{@user.id}/edit")%>
        <%= link_to("退会","/users/#{@user.id}/destroy" ,{method:"post"})%>
      </div>
    </div>
  </div>
</div>
