<!DOCTYPE html>
<html>
  <head>
    <title>Nogiboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container">
      <%= link_to("NOGIBOARD", "/")%>
      <%= link_to("ログイン", "#")%>
      <%= link_to("新規登録","/signup")%>
      <%= yield %>
    </div>
  </body>
</html>
