<!DOCTYPE html>
<html>
  <head>
    <!-- ビューポートの設定 -->
	  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nogiboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container">
      <div class="header-main-logo">
        <ul>
          <a href="/"><%= image_tag("home/nogiboard.png", width: 100, height: 50, alt: 'NOGIBOARD') %></a>
        </ul>

      </div>

      <div class="header-menu">
        <% if @current_user %>

          <%= link_to("/users/#{@current_user.id}", class: "header-menu-item") do %>
            <div class="current_user-img">
              <%= image_tag("/user_images/#{@current_user.image_name}") %>
            </div>
            <span class="header-menu-item-sp-hidden"><%= @current_user.name %></span><!--消したいときに使うやつ-->
          <% end %>



          <%= link_to("/users/index", class: "header-menu-item") do %>
            <%= fa_icon "users" %>
            <span class="header-menu-item-sp-hidden">ユーザー一覧</span><!--消したいときに使うやつ-->
          <% end %>


          <%= link_to("/posts/index", class: "header-menu-item") do %>
            <%= fa_icon "comments" %>
            <span class="header-menu-item-sp-hidden">投稿一覧</span><!--消したいときに使うやつ-->
          <% end %>


          <%= link_to("/logout", class: "header-menu-item",method:"post") do %>
            <%= fa_icon "sign-out" %>
            <span class="header-menu-item-sp-hidden">ログアウト</span><!--消したいときに使うやつ-->
          <% end %>



        <% else %>

          
          <%= link_to("ログイン","/login") %>

          <%= link_to("新規登録","/signup")%>

        <% end%>

      </div>



        <% if flash[:notice]%>
          <div class="flash">
            <%= flash[:notice]%>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>

</html>
