<!DOCTYPE html>
<html>
  <head>
    <title>Nogiboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container">
      <div class="header-main-logo">
        <ul>
          <a href="/"><%= image_tag("home/nogiboard.png", width: 100, height: 50, alt: 'NOGIBOARD') %></a>
        </ul>

      </div>

      <div class="header-menu">
        <ul class= "header-menus">
          <% if @current_user %>
            <ul>
              <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </ul>

            <ul>
              <%= link_to("新規投稿","/posts/new")%>
            </ul>

            <ul>
              <%= link_to("ユーザー一覧","/users/index")%>
            </ul>

            <ul>
              <%= link_to("投稿一覧","/posts/index")%>
            </ul>

            <ul>
              <%= link_to("ログアウト","/logout", method: :post)%>
            </ul>

          <% else %>
            <ul>
              <%= link_to("ログイン","/login") %>
            </ul>

            <ul>
              <%= link_to("新規登録","/signup")%>
            </ul>

          <% end%>
        </ul>
      </div>



        <% if flash[:notice]%>
          <div class="flash">
            <%= flash[:notice]%>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
  
</html>
