<!DOCTYPE html>
<html>
  <head>
    <title>Nogiboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container">
      <div class="header-main-logo">
        <li>
          <%= link_to("NOGIBOARD", "/")%>
        </li>

        <ul class= "header-menu">
          <% if session[:user_id] %>
            <li>
              現在ログインしているユーザーのid:
              <%= session[:user_id] %>
            </li>

            <li>
              <%= link_to("新規投稿","/posts/new")%>
            </li>

            <li>
              <%= link_to("ユーザー一覧","/users/index")%>
            </li>

            <li>
              <%= link_to("投稿一覧","/posts/index")%>
            </li>

            <li>
              <%= link_to("ログアウト","/logout", method: :post)%>
            </li>

          <% else %>
            <li>
              <%= link_to("ログイン","/login") %>
            </li>

            <li>
              <%= link_to("新規登録","/signup")%>
            </li>

          <% end%>
        </ul>

        <% if flash[:notice]%>
          <div class="flash">
            <%= flash[:notice]%>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>  
</html>
